*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Federant', cursive;
    font-family: 'Syne Mono', monospace;
    text-align: center;
    background-color: aqua;
    height: 50vh;
}
.lottie{
    background-color: yellow;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   